html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #ffffff;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-top: 15px;
}

button {
  background: black;
  color: white;
  padding: 12px 30px;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
}
